<footer class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-branding">
        <a href="./index.html" class="brand-logo">
          <svg width="132" height="24">
            <use
              href="images/svg/sprite-footer-icons.svg#icon-logo-white"
            ></use>
          </svg>
        </a>
        <ul class="social-icons">
          <li>
            <a
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              class="icon-link"
              ><svg width="24" height="24">
                <use
                  href="images/svg/sprite-footer-icons.svg#icon-facebook-white"
                ></use></svg
            ></a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              class="icon-link"
              ><svg width="24" height="24">
                <use
                  href="images/svg/sprite-footer-icons.svg#icon-instagram-white"
                ></use></svg
            ></a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              class="icon-link"
              ><svg width="24" height="24">
                <use
                  href="images/svg/sprite-footer-icons.svg#icon-youtube-white"
                ></use></svg
            ></a>
          </li>
        </ul>
      </div>

      <div class="newsletter">
        <h3 class="newsletter-title">
          Transforming your <i>body</i> shape with us
        </h3>
        <div class="newsletter-signup">
          <p class="newsletter-instruction">
            Subscribe and learn about new exercises!
          </p>
          <form
            class="newsletter-form js-footer-newsletter-form"
            method="post"
            id="user"
          >
            <input
              type="email"
              name="email"
              class="newsletter-input"
              placeholder="Email"
              id="mailing-email"
              required
              pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            />
            <button type="submit" class="newsletter-button">Send</button>
          </form>
        </div>
      </div>
    </div>

    <div class="footer-legal">
      <p class="copyright">Your Energy. All rights reserved.</p>
      <div class="legal-links">
        <p>
          <a href="./privacy-policy.html" class="footer-link">Privacy Policy</a>
          <span class="slash"> / </span>
          <a href="./privacy-policy.html" class="footer-link"
            >Terms of Service</a
          >
        </p>
        <p>©2023</p>
      </div>
    </div>
  </div>
</footer>
