<header class="header">
  <div class="container header-box">
    <a href="./index.html" class="brand-logo-header">
      <svg width="132" height="24">
        <use href="images/svg/sprite-footer-icons.svg#icon-logo-white"></use>
      </svg>
    </a>

    <nav class="nav-menu">
      <ul class="list nav-list">
        <li class="item nav-list-item">
          <a class="link nav-link" href="./index.html">Home</a>
        </li>

        <li class="item nav-list-item">
          <a class="link nav-link" href="./favorites.html">Favorites</a>
        </li>
      </ul>
    </nav>

    <div class="header-networks">
      <ul class="list header-networks-list">
        <li class="item">
          <a
            class="link networks-link"
            target="_blank"
            rel="noreferrer noopener"
            href="https://www.facebook.com/goITclub/"
            aria-label="Facebook GoIT page link"
          >
            <svg width="24" height="24">
              <use
                href="images/svg/sprite-footer-icons.svg#icon-facebook-white"
              ></use>
            </svg>
          </a>
        </li>

        <li class="item">
          <a
            class="link networks-link"
            target="_blank"
            rel="noreferrer noopener"
            href="https://www.instagram.com/goitclub/"
            aria-label="Instagram GoIT page link"
          >
            <svg width="24" height="24">
              <use
                href="images/svg/sprite-footer-icons.svg#icon-instagram-white"
              ></use>
            </svg>
          </a>
        </li>

        <li class="item">
          <a
            class="link networks-link"
            target="_blank"
            rel="noreferrer noopener"
            href="https://www.youtube.com/c/GoIT"
            aria-label="Youtube GoIT chanel link"
          >
            <svg width="24" height="24">
              <use
                href="images/svg/sprite-footer-icons.svg#icon-youtube-white"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <button
      class="mobile-menu-button"
      data-menu-open
      aria-label="Mobile menu button"
    >
      <svg width="32" height="32">
        <use href="images/svg/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
