<section class="hero">
  <div class="container">
    <div class="contaniner-hero">
      <div class="hero-container">
        <h1 class="hero-title">
          <img
            src="images/hero/sun.png"
            alt="Sun"
            width="59px"
            height="59px"
            class="sun-icon"
          />
          Get <span class="hero-title-accent">Body</span> in <br />
          shape, Stay healthy
        </h1>
        <p class="hero-text">
          Transform your physique and embrace a healthier lifestyle with our
          comprehensive fitness and nutrition support.
        </p>
      </div>
      <div class="hero-hashtags">
        <img
          src="images/hero/hero-desktop2.webp"
          alt="Legs"
          width="168px"
          height="100px"
          class="hero-image2"
        />
        <ul class="tags-list">
          <li class="tag">#Sport</li>
          <li class="tag">#Healthy</li>
          <li class="tag">#Workout</li>
          <li class="tag">#Diet</li>
        </ul>
      </div>
    </div>
    <img
      src="images/hero/hero-desktop.webp"
      alt="Two women"
      class="hero-image destop"
    />
    <img
      src="images/hero/hero-tablet.webp"
      alt="Two women"
      class="hero-image tablet"
    />
    <img
      src="images/hero/hero-mobile.webp"
      alt="Two women"
      class="hero-image mobile"
    />
    <ul class="tags-list2">
      <li class="tag">#Sport</li>
      <li class="tag">#Healthy</li>
      <li class="tag">#Workout</li>
      <li class="tag">#Diet</li>
    </ul>
  </div>
</section>
