<section class="quote">
  <div class="quote-main">
    <div class="quote-card">
      <div class="svg-circle-grey">
        <svg class="quote-icon-grey" width="20" height="20">
          <use href="images/svg/quote.svg#icon-man"></use>
        </svg>
      </div>
      <div>
        <div class="card-subtitle-flex">
          <h3 class="card-subtitle">Quote of the day</h3>
          <svg
            class="quote-icon-grey quote-icon-gradaptive"
            width="20"
            height="20"
          >
            <use href="images/svg/quote.svg#icon-commas"></use>
          </svg>
        </div>
        <p class="quote-text"></p>
        <p class="quote-author"></p>
      </div>
    </div>

    <div class="quote-image"></div>
  </div>

  <div class="cart3-flex">
    <!-- cart3  -->
    <div class="svg-circle-grey svg-circle-black">
      <svg class="quote-icon-man" width="20" height="20">
        <use href="images/svg/quote.svg#icon-fluent"></use>
      </svg>
    </div>
    <div class="quote-text-group">
      <div class="quote-text-container">
        <h3 class="card-subtitle-black">110 min</h3>
        <p class="quote-text quote-text-subtext3">Daily norm of sports</p>
      </div>
      <p class="quote-text-black collapsed">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day? While it might seem like a high number to hit,
        dedicating 110 minutes daily to sporting activities may offer
        unparalleled benefits to physical health, mental well-being, and overall
        quality of life.
      </p>
    </div>
  </div>
</section>
