<section class="quote">
    <div class="container">
      <div class="quote-main-fav">
      <div class="quote-card-fav">
        <div class="svg-circle-grey">
           <svg class="quote-icon-grey" width="20" height="20">
              <use href="../images/svg/quote.svg#icon-man"></use>
                  
                </svg>
        </div>
        <div >
          <div class="card-subtitle-flex">
            <h3 class="card-subtitle">Quote of the day</h3>
            <svg class="quote-icon-grey quote-icon-gradaptive" width="20" height="20">
              <use href="../images/svg/quote.svg#icon-commas"></use>
                  
                </svg>
          </div>
          <p class="quote-text"></p>
          <p class="quote-author"></p>
        </div>
      </div>
      <div class="fav-tabl-block">
       <div class="cart3-flex-fav">
        <!-- cart3  -->
        
             <svg class="quote-icon-man-fav" width="20" height="20">
              <use href="../images/svg/quote.svg#icon-fluent"></use>
                  
                </svg>
         
      
        <div class="quote-text-group">
        <div class="quote-text-container">
          <h3 class="card-subtitle-black card-subtitle-black-fav">110 min</h3>
          <p class="quote-text quote-text-subtext3">Daily norm of sports</p>
        </div>
        <p>
         
       
        </p>
      </div>
      
      </div>
<div class="adaptive-background-fav">

</div></div>
         
    </div>
</section>
