.exercises-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 16px;
}

.exercise-item {
  width: 100%;
  background-color: var(--clear-white);
  border-radius: 15px;
  padding: 16px;
}

.exercise-top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: 12px;
}

.exercise-top-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.exercise-tag {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1.3;
  border-radius: 15px;
  border: 1px solid var(--primary-dark);
  text-transform: uppercase;
  font-weight: var(--font-weight-medium);
}

.exercise-rating {
  display: flex;
  align-items: center;
  gap: 2px;
  line-height: 1.5;
  height: fit-content;
}

.rating-icon {
  width: 18px;
  height: 18px;
}

.exercise-start-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: unset;
  border: none;
  padding: 0;
  font-size: 16px;
  width: 61px;
  height: 24px;
}

.exercise-custom-block {
  display: flex;
}

.exercise-button-delete {
  background-color: unset;
  border: none;
  padding: 0;
}

.trash-icon {
  width: 16px;
  height: 16px;
  fill: none;
  stroke: var(--primary-dark);
}

.icon-arrow {
  width: 13px;
  height: 13px;
}

.exercise-title-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
}

.exercise-icon-container {
  width: 24px;
  height: 24px;
  background-color: var(--primary-dark);
  border-radius: 30px;
  padding: 4px 5px;
}

.exercise-icon {
  width: 100%;
  height: 16px;
  fill: var(--bg-color);
}

.exercise-title {
  font-size: 24px;
  font-weight: var(--font-weight-reg);
  line-height: 1.33;
}

/* Truncate text */
.exercise-title,
.exercise-info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.exercise-title::first-letter {
  text-transform: capitalize;
}

.exercise-bottom-container {
  display: flex;
  gap: 16px;
  font-size: 12px;
  color: var(--light-gray);
}

.exercise-marked-text {
  background-color: unset;
}

.exercise-info-text {
  text-transform: capitalize;
}

.list-item-error {
  margin: auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .exercises-container {
    row-gap: 32px;
  }

  .exercise-item {
    width: calc((100% - 16px) / 2);
  }
}
