.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #e5e5e5;
}

.contaniner-hero {
  display: flex;
  justify-content: space-between;
}

.hero-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

@media (max-width: 767.98px) {
  .hero-container {
    padding-bottom: 20px;
  }
}

.hero-title {
  color: var(--primary-dark);
  font-size: 74px;
  font-weight: var(--font-weight-reg);
  line-height: 1;
  letter-spacing: -0.02em;
  max-width: 698px;
  justify-content: flex-start;
  gap: 10px;
}

@media (max-width: 767.98px) {
  .hero-title {
    font-size: 38px;
    line-height: 1.16;
  }
}

.sun-icon {
  display: inline-block;
}

@media (max-width: 767.98px) {
  .sun-icon {
    vertical-align: bottom;
    width: 38px;
    height: 38px;
    flex-shrink: 0;
  }
}

.hero-title-accent {
  color: var(--primary-dark);
  font-size: 74px;
  font-style: italic;
  font-weight: var(--font-weight-reg);
  line-height: 1;
  letter-spacing: -0.02em;
}

@media (max-width: 767.98px) {
  .hero-title-accent {
    font-size: 38px;
  }
}

.hero-text {
  max-width: 528px;
  color: var(--primary-dark);
  padding-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.02em;
}

@media (max-width: 767.98px) {
  .hero-text {
    max-width: 335px;
    font-size: 14px;
    line-height: 1.29;
  }
}
.hero-hashtags {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: flex-end;
}

.tags-list {
  display: flex;
  max-width: 210px;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 32px;
}

.tags-list2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
  padding-top: 16px;
}

@media (max-width: 767.98px) {
  .tags-list2 {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1439.98px) {
  .tags-list2 {
    display: none;
  }
}

.tag {
  color: var(--primary-dark);

  font-size: 16px;
  font-weight: var(--font-weight-reg);
  line-height: 1.5;

  display: flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid #242424;
}

@media (max-width: 767.98px) {
  .tag {
    padding: 4px 12px;

    font-size: 14px;
    line-height: 1.29;
  }
}

.hero-image {
  width: 335px;
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
}

@media screen and (min-width: 320px) and (max-width: 1439.98px) {
  .destop {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767.98px) {
  .tablet {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .hero-image {
    width: 704px;
    height: 550px;
  }
}

@media screen and (min-width: 1439.98px) {
  .tablet {
    display: none;
  }

  .hero-image {
    width: 1376px;
    height: 350px;
  }
}

@media screen and (max-width: 319.98px) {
  .destop,
  .tablet {
    display: none;
  }
}

.hero-hashtags {
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero-image2 {
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
}

@media screen and (max-width: 1439.98px) {
  .hero-hashtags {
    display: none;
  }
}
