.quote-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 335px;
}

@media only screen and (min-width: 768px) {
  .quote-main {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: none;
  }
}

@media only screen and (min-width: 1440px) {
  .quote-main {
    flex-direction: column;
    width: 444px;
  }
}

.svg-circle-grey {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: rgba(244, 244, 244, 0.2);
  flex-shrink: 0;
}
.quote-icon-grey {
  fill: #f4f4f4;
}

@media only screen and (min-width: 768px) {
  .quote-icon-gradaptive {
    width: 24px;
    height: 24px;
  }
}

.quote-card {
  height: auto;
  flex-shrink: 0;
  border-radius: 20px;
  background: #242424;
  padding: 20px;
  display: flex;
  gap: 18px;
}
/*  */
@media only screen and (min-width: 768px) {
  .quote-card {
    padding: 40px;
    width: 320px;
  }
}
@media only screen and (min-width: 1440px) {
  .quote-card {
    width: 365px;
  }
}

.card-subtitle-flex {
  display: flex;
  justify-content: space-between;
}
.card-subtitle {
  color: #f4f4f4;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .card-subtitle {
    font-size: 24px;
    line-height: 1.33;
  }
}

.quote-text,
.quote-author {
  color: rgba(244, 244, 244, 0.6);
  font-size: 14px;
  line-height: 1.285; /* 128.571% */
}

.quote-author {
  color: #f4f4f4;
  margin-top: 16px;
}

.svg-circle-black {
  background-color: rgba(36, 36, 36, 1);
}
.quote-icon-man {
  fill: #f4f4f4;
}

.quote-text-black {
  display: block;

  color: #242424;

  /* overflow: hidden;
  text-overflow: ellipsis;
  max-width: 245px; */
  margin-top: 16px;
}
@media only screen and (min-width: 1440px) {
  .quote-text-black {
    max-width: none;
  }
}

.cart3-flex {
  display: flex;
  gap: 18px;
  border-radius: 20px;
  background: #fff;
  padding: 20px;
}
@media only screen and (min-width: 768px) {
  .cart3-flex {
    font-size: 16px;
    line-height: 1.5;
    padding: 40px;
    width: 320px;
  }
}
@media only screen and (min-width: 1440px) {
  .cart3-flex {
    width: 365px;
  }
}
.quote-text-subtext3 {
  color: rgba(36, 36, 36, 0.6);
}
.card-subtitle-black {
  color: #242424;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1; /* 100% */
}
@media only screen and (min-width: 768px) {
  .card-subtitle-black {
    font-size: 24px;
    line-height: 1.33; /* 133.333% */
  }
}

.image-quote {
  width: 100%;
  max-width: 335px;
  height: auto;
  border-radius: 20px;
}
@media only screen and (min-width: 768px) {
  .image-quote {
    max-width: 288px;
    height: auto;
  }
}

.adaptive-background {
  background-image: url(../images/quote/women@mobil.webp);
  height: 242px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  border-radius: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .adaptive-background {
    background-image: url(../images/quote/women@tablet.webp);
    width: 288px;
  }
}

@media only screen and (min-width: 1440px) {
  .adaptive-background {
    background-image: url(../images/quote/women@desk.webp);
    width: 444px;
  }
}

.quote-text-group {
  overflow: hidden;
  max-height: 161px;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 1440px) {
  .quote-text-group {
    overflow: visible;
    max-height: none;
  }
}
