.quote {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quote-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .quote {
    gap: 32px;
  }
  .quote-main {
    gap: 16px;
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .quote {
    max-width: 444px;
  }

  .quote-main {
    gap: 32px;
    flex-direction: column;
  }
}

.svg-circle-grey {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: rgba(244, 244, 244, 0.2);
  flex-shrink: 0;
}

.quote-icon-grey {
  fill: #f4f4f4;
}

.quote-icon-gradaptive {
  position: absolute;
  right: 0;
}

@media screen and (min-width: 768px) {
  .quote-icon-gradaptive {
    width: 24px;
    height: 24px;
  }
}

.quote-card {
  height: auto;
  flex-shrink: 0;
  border-radius: 20px;
  background: #242424;
  padding: 20px;
  display: grid;
  gap: 18px;
  grid-template-columns: auto 1fr;
}

@media screen and (min-width: 768px) {
  .quote-card {
    padding: 40px;
    grid-template-columns: auto 1fr;
    flex-grow: 2;
    max-width: 400px;
  }
}

@media screen and (min-width: 1440px) {
  .quote-card {
    max-width: unset;
    grid-template-columns: auto 1fr;
  }
}

.card-subtitle-flex {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  position: relative;
}

.card-subtitle {
  color: #f4f4f4;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .card-subtitle {
    font-size: 24px;
    line-height: 1.33;
  }
}

.quote-text,
.quote-author {
  color: rgba(244, 244, 244, 0.6);
  font-size: 14px;
  line-height: 18px;
}

.quote-author {
  color: #f4f4f4;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .quote-author {
    font-size: 16px;
    line-height: 1.5;
  }
}

.svg-circle-black {
  background-color: #242424;
}

.quote-icon-man {
  fill: #f4f4f4;
}

.quote-text-black {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease;
  cursor: pointer;

  font-size: 14px;
  /* line-height: 1.285;  */
  line-height: 18px;
  color: #242424;
  margin-top: 16px;
}

.quote-text-black:hover {
  /* max-height: 1000px; */
  -webkit-line-clamp: 12;
}

@media screen and (min-width: 768px) {
  .quote-text-black {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .quote-text-black {
    -webkit-line-clamp: 9;
  }
}

.cart3-flex {
  display: grid;
  gap: 18px;
  border-radius: 20px;
  background: #fff;
  padding: 20px;
  min-height: 169px;
  grid-template-columns: auto 1fr;
}

@media screen and (min-width: 768px) {
  .cart3-flex {
    padding: 40px;
    grid-template-columns: auto 1fr;
    max-width: 400px;
  }
}

@media screen and (min-width: 1440px) {
  .cart3-flex {
    padding: 40px;
    grid-template-columns: auto 1fr;
    max-width: unset;
  }
}

.quote-text-subtext3 {
  color: rgba(36, 36, 36, 0.6);
}

.card-subtitle-black {
  color: #242424;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .card-subtitle-black {
    font-size: 24px;
    line-height: 1.33; /* 133.333% */
  }
}

.quote-image {
  background-image: url(../images/quote/women@mobil.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  border-radius: 20px;
}

@media screen and (max-width: 767px) {
  .quote-image {
    height: 242px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767.98px),
  screen and (min-resolution: 192dpi) and (max-width: 767.98px) {
  .quote-image {
    background-image: url(../images/quote/women@2mobil.webp);
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .quote-image {
    background-image: url(../images/quote/women@tablet.webp);
    width: 288px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1439px),
  screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1439px) {
  .quote-image {
    background-image: url(../images/quote/women@2tablet.webp);
  }
}

@media screen and (min-width: 1440px) {
  .quote-image {
    background-image: url(../images/quote/women@desk.webp);
    width: 100%;
    height: 242px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
  screen and (min-resolution: 192dpi) and (min-width: 1440px) {
  .quote-image {
    background-image: url(../images/quote/women@2desk.webp);
  }
}

.quote-text-group {
  max-height: none;
}

@media screen and (min-width: 1440px) {
  .quote-text-group {
    overflow: visible;
    max-height: none;
  }
}
